* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    line-height: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('index_background.png');
}
/*  Styling of the navigation bar */
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #8ceda4;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul.topnav li {
    list-style: none;
    float:left;
    
}

nav ul.topnav li  a {
    display: block;
    margin:auto;
    text-decoration: none;
    min-height: 20px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #666; 
}

nav ul.topnav li.topnav-right {
    list-style: none;
    float: right;
}
/*Hovering action */
nav ul.topnav li a:hover {
    background-color: darkblue;
    color: white;
    font-style:italic;
}

.container {
    display: solid;
    text-align: center;
    margin-bottom: 20px;
}

.container h1 {
    display: block;
    margin:auto;
    width: 100%;
    padding: 2%;

}

/* Arrangement of buttons */
 .choices {
    display: flex;
    width: 100%;
    margin: auto;
}

.choices .user_instruction  {
    display: block;
    width: 50%;
    margin: auto;
}

.choices .user_instruction a {
    text-decoration: none;
    height: 200px;
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 50%;
}

.choices .user_instruction a button.regis {
    background-image: url("newregistration.png");
    background-size: 205px 205px ;
    background-position: -4px -2px;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.regis:hover {
    background-image: url("newregistration.png");
    background-size: 205px 205px ;
    background-position: -4px -2px;
    font-size: 23px;
    color: red;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.login {
    background-image: url("login.png");
    background-size: 202px 202px;
    background-position: -1px -4px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.login:hover {
    background-image: url("login.png");
    background-size: 202px 202px;
    background-position: -1px -4px;
    height: 200px;
    width: 200px;
    color: red;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}
/* Message color when the registration of a user is done */
.popup h2 {
    color: lightgreen;
}

/* Registration page */
.form_holder {
    display: block;
    width: 100%;

}

.form_holder .enteries {
    display: block;
    line-height: 20px;
    margin: auto;
    width: 30%;
    min-width: 200px;
    text-align: left;
    background-color: white;
    border-radius: 6%;
    padding: 15px;
}

.form_holder .enteries input {
    width: 80%;
    min-width: 140px;
    padding: 5px;
    font-size: 16px;
}

.form_holder .enteries input.click {
    width: 80px;
}

.form_holder .enteries input.click:hover {
    width: 80px;
    background-color: blue;
    font-weight: bold;
}

.popup {
    display:solid;
    text-align: center;
    width: 40%;
    margin: auto;
}

.popup h3 {
    color: red;
}

/* Face registration  */
.camera_container {
    display: solid;
    width: 100%;
}

.camera_container img {
    display: block;
    margin: auto;
    box-shadow: -5px -5px;
    
}

.capture {
    display: block;
    width: 100%;
}

.capture form {
    margin-top: 20px;
    display: block;

}

.capture form input {
    width: 80px;
    display: block;
    font-size: 17px;
    margin: auto;
    padding: 4px;
}

.capture form input:hover {
    width: 80px;
    background-color: blue;
    padding: 4px;
    font-weight: bold;
}

/* User login page */
.choices .user_instruction a button.attend {
    background-image: url("attend.png");
    background-size: 205px 205px ;
    background-position: -5px -5px;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.attend:hover {
    background-image: url("attend.png");
    background-size: 205px 205px ;
    background-position: -5px -5px;
    font-size: 23px;
    color: red;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.view {
    background-image: url("view.png");
    background-size: 202px 202px;
    background-position: -3px -5px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .user_instruction a button.view:hover {
    background-image: url("view.png");
    background-size: 202px 202px;
    background-position: -3px -5px;
    height: 200px;
    width: 200px;
    color: red;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

/* Completion Page of the attendance*/
.done {
    width: 100%;
    margin: 0;
}

.done img {
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* View Month page of the user */
.month_container {
    display: block;
    background-color: white;
    margin:auto;
    width:95%;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10% 10%;
}
/*  Row of Month  */
.row {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;

}
/* Column of Month */
.row .col {
    width: 33.3%
}

/* Each cell block */
.row .col a {
    display: block;
    margin: auto;
    width: 70%;
    text-decoration: none;
}

.row .col a button{
    height:40px;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5%;
    font-size: 20px;
}

.row .col a button:hover {
    height:40px;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5%;
    font-size: 20px;
    background-color: blue;
    font-weight: bold;
}
/* Table of attendace of a month is the view)attendance html page */
.content {
    background-color: white;
    opacity: 0.7;
}
.content table {
    display: block;
    width: 50%;
    margin: auto;
}

.content table tbody {
    display: block;
    width: 100%;
    margin: 0px; 
}

.content table tbody tr {
    display: flex;
    width: 100%;
    margin: auto; 
}

.content table tbody tr th, td{
    display: block;
    margin: 0px; 
    width: 50%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

/* Admin_control page */
.choices .admin_instruction  {
    display: block;
    width: 50%;
    margin: auto;
}

.choices .admin_instruction a {
    text-decoration: none;
}
.choices .admin_instruction a button.delete {
    background-image: url("attend.png");
    background-size: 205px 205px ;
    background-position: -5px -5px;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .admin_instruction a button.delete:hover {
    background-image: url("attend.png");
    background-size: 205px 205px ;
    background-position: -5px -5px;
    font-size: 23px;
    color: red;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .admin_instruction a button.view {
    background-image: url("view.png");
    background-size: 202px 202px;
    background-position: -3px -5px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

.choices .admin_instruction a button.view:hover {
    background-image: url("view.png");
    background-size: 202px 202px;
    background-position: -3px -5px;
    height: 200px;
    width: 200px;
    color: red;
    border-radius: 50%;
    font-size: 23px;
    text-decoration:None;
    font-weight: bold;
    text-shadow: 3px;
    padding: 0;
    display: block;
    margin:auto;
    opacity: 0.8;
}

/* Admin view of all the users */
.user_email {
    display: block;
    width: 100%;
    padding: 10px;
}

.user_email form {
    display: flex;
    width: 60%;
    padding: 5px;
}

.user_email form input {
    margin: 10px;
    width: 300px;
    padding: 5px;
    text-align: left;
    font-size: 16px;
}

.user_email form input.click {
    width: 80px;
    text-align: center;
}
/* ALl viewers table */
.Allcontent {
    background-color: white;
    opacity: 0.7;
}
.Allcontent table {
    display: block;
    width: 100%;
    margin: 0px;
}

.Allcontent table tbody {
    display: block;
    width: 100%;
    margin: 0px; 
}

.Allcontent table tbody tr {
    display: flex;
    width: 100%;
    margin: 0px; 
}

.Allcontent table tbody tr th,.Allcontent table tbody tr td{
    display: block;
    margin: 0px; 
    width: 33.3%;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 10px;
    font-size: 25px;
}